// General colors
$green: #dbfc8a;
$green-light: #D1FF79;
$gray: #3c3c3b;
$gray-light: #767676;
$silver: #9F9F9E;
$purple: #8D85A7;

// Elements z-index
$mobileMenuLogoIndex: 100;
$mobileMenuCloseIndex: 99;

$intercomeIndex: 900;
$headerIndex: 1100;
$footerIndex: $intercomeIndex;
$navigationMobIndex: 1100;
$menuMobIndex: 1110;
$logoMobIndex: $menuMobIndex;
$modalIndex: 5000;