@import './partials/_variables'; // colors, fonts etc...

@font-face {
    font-family: 'SharpGroteskLight25';
    src: url('~assets/fonts/SharpGroteskLight25.eot');
    src: url('~assets/fonts/SharpGroteskLight25.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/SharpGroteskLight25.woff2') format('woff2'),
        url('~assets/fonts/SharpGroteskLight25.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SharpGroteskLight25';
    src: url('~assets/fonts/SharpGroteskSmBold25.eot');
    src: url('~assets/fonts/SharpGroteskSmBold25.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/SharpGroteskSmBold25.woff2') format('woff2'),
        url('~assets/fonts/SharpGroteskSmBold25.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
	box-sizing: border-box;
}

body {
	font-family: 'SharpGroteskLight25', sans-serif;
	color: $color-6;
	background-color: black;

	a {
		text-decoration: none;
	}
}


.header {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 20px;

	&__logo {
		flex-grow: 1;
		font-size: 18px;
		font-weight: 600;
		color: $green;
		transition: color .3s ease;

		.icon {
			fill: $green;
			color: $green;
		}

		svg {
			width: 205px;
			height: 49px;
		}
	}

	&__navigation {
		ul {
			display: flex;
			align-items: center;
		}

		li {
			a {
				color: $green;
				font-size: 15px;
				font-weight: 600;
				text-transform: uppercase;
				background-color: transparent;
				padding: 4px 10px;
				transition: all .3s ease;

				&:hover {
					color: $gray;
					background-color: $green;
				}
			}

			&.active {
				a {
					background-color: $gray;
				}
			}
		}
	}
}

.footer {
	position: fixed;
	z-index: 1000;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 20px 35px 35px;

	&__button {
		position: relative;
		background-color: transparent;
		border: 1px $green solid;
		padding: 20px 60px;
		color: $green;
		font-weight: 600;
		font-size: 15px;
		text-transform: uppercase;
		font-family: 'SharpGroteskLight25', sans-serif;
		transition: all .3s ease;
		outline: none;

		svg {
			position: absolute;
			width: 15px;
			height: 18px;
			left: 20px;
			fill: #d1ff7a;
			transition: fill .3s ease;
		}

		&:hover {
			cursor: pointer;
			background-color: $green;
			color: $gray;

			svg {
				fill: $gray;
			}
		}
	}

	&__arrow-down {
		cursor: pointer;
		width: 18px;
		height: 40px;
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		padding: 10px;
		transform: translateY(-50%);
		margin: auto;
		box-sizing: content-box;

		svg {
			width: 100%;
			height: 100%;
		}
	}
}

.intercom-launcher-frame {
	transition: all .3s ease;
}

.inversion {
	.header {
		&__logo {
			.icon {
				fill: $gray;
			}
		}

		&__navigation {
			li {
				a {
					color: $gray;
	
					&:hover {
						color: $green;
						background-color: $gray;
					}
				}
	
				&.active {
					a {
						background-color: $green;
					}
				}
			}
		}
	}

	.footer {
		&__button {
			color: $gray;
			border-color: $gray;

			svg {
				fill: $gray;
			}

			&:hover {
				background-color: $gray;
				color: $green;

				svg {
					fill: $green;
				}
			}
		}
	}

	.intercom-launcher-frame {
		position: relative;
		background: $gray-light !important;
	}
}

.container {
	height: 100%;
	width: 100%;
	padding: 0 5%;
	margin: auto;

	&--text-center {
		display: flex;
		align-items: center;
	}
}

.section {
	&--first {
		.container {
			background: url('~assets/images/remove/header-background.png');
			background-size: cover;
		}
	}

	&--green {
		.container {
			background-color: $green;
		}
	}

	&--purple {
		.container {
			background-color: $purple;
		}
	}
}

.section-title {
	display: block;
	margin: auto;
	font-size: 66px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;

	&__animation-container {
		position: relative;
		display: inline-flex;
		justify-content: center;
		
		.line {
			position: absolute;
			top: 50%;
			margin: auto;
			height: 2px;
			width: 0;
			background-color: $gray;
			opacity: 0;
		}
	}

	&--small {
		text-align: left;
		text-transform: initial;
		font-size: 36px;
		font-weight: 600;
	}

	&--first {
		color: $green;

		span {
			color: $gray;
		}
	}

	&--second {
		width: 50%;
		color: $gray;
		margin: 0;

		span {
			display: block;
			color: $purple;

			div {
				display: inline;
			}
		}
	}

	&--right {
		width: 50%;
		color: $gray;
		margin: 0 0 0 auto;
	}

	&--left {
		width: 50%;
		color: $gray;
		margin: 0;
	}

	&--gray {
		color: $gray;
		font-size: 70px;

		span {
			opacity: 0;
		}
	}
}

.intercom-launcher {
	transition: all .3s ease;
	background-color: $gray-light !important;

	.intercom-lightweight-app-launcher-icon-open {
		svg path {
			transition: all .3s ease;
			fill: white;
		}
	}

	
	&.green {
		background-color: $green-light !important;

		.intercom-lightweight-app-launcher-icon-open {
			svg path {
				fill: rgba(0, 0, 0, 0.5);
			}
		}
	}
}

.modal {
	position: fixed;
	z-index: 1100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
	padding: 50px;

	&__body {
		position: relative;
		width: 100%;
		height: 100%;

		iframe {
			width: 100%;
			height: 100%;
		}
	}

	&__close {
		cursor: pointer;
		position: absolute;
		top: -34px;
		right: -34px;
		
		img {
			display: block;
			width: 33px;
			height: 33px;
			padding: 8px;
		}
	}
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .3s;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}