@import './partials/_variables';

@font-face {
    font-family: 'SharpGroteskLight25';
    src: url('~assets/fonts/SharpGroteskLight25.eot');
    src: url('~assets/fonts/SharpGroteskLight25.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/SharpGroteskLight25.woff2') format('woff2'),
        url('~assets/fonts/SharpGroteskLight25.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SharpGroteskLight25';
    src: url('~assets/fonts/SharpGroteskSmBold25.eot');
    src: url('~assets/fonts/SharpGroteskSmBold25.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/SharpGroteskSmBold25.woff2') format('woff2'),
        url('~assets/fonts/SharpGroteskSmBold25.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
	box-sizing: border-box;
}

body {
	font-family: 'SharpGroteskLight25', sans-serif;
	background-color: black;

	a {
		text-decoration: none;
	}
}


.header {
	position: fixed;
	z-index: $headerIndex;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 20px;

	&__logo {
		flex-grow: 1;

		svg {
			width: 205px;
			height: 49px;
		}
	}

	&__navigation {
		position: relative;

		&-circle {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 0;
			height: 0;
			background-color: $gray;
			border-radius: 50%;
		}

		&-logo {
			opacity: 0;
			position: absolute;
			left: 15px;
			top: 15px;
	
			svg {
				width: 205px;
				height: 49px;
			}
		}

		&-close {
			width: 0;
			height: 0;
			position: absolute;
			top: 0;
			right: 0;
			opacity: 0;

			svg {
				width: 27px;
				height: 27px;
			}
		}

		&-button {
			display: none;
			opacity: 0;
			width: 350px;
			max-width: 100%;
			position: absolute;
			bottom: 5px;
			left: 0;
			right: 0;
			margin: auto;
			background-color: transparent;
			padding: 20px 20px;
			color: $silver;
			font-weight: 600;
			font-size: 15px;
			text-transform: uppercase;
			text-align: center;
			font-family: 'SharpGroteskLight25', sans-serif;
			transition: all .3s ease;
			outline: none;
	
			svg {
				position: absolute;
				width: 15px;
				height: 18px;
				left: 20px;
				transition: fill .3s ease;
			}
	
			&:hover {
				cursor: pointer;
			}
		}

		ul {
			display: flex;
			align-items: center;
		}

		li {
			a {
				color: $green;
				font-size: 15px;
				font-weight: 600;
				text-transform: uppercase;
				background-color: transparent;
				padding: 4px 10px;
				transition: all .3s ease;

				&:hover {
					color: $gray;
					background-color: $green;
				}
			}

			&.active {
				a {
					background-color: $gray;
				}
			}
		}
	}

	&__menu {
		display: none;
		position: relative;
		width: 35px;
		height: 35px;

		&-button {
			height: 100%;
			cursor: pointer;
			padding: 5px;
			box-sizing: content-box;

			svg {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;

				&.close {
					display: none;
					opacity: 0;
				}
			}
		}
	}
}

.footer {
	position: fixed;
	z-index: $footerIndex;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 20px 35px 35px;

	&__button {
		position: relative;
		background-color: transparent;
		border: 1px $green solid;
		padding: 20px 60px;
		color: $green;
		font-weight: 600;
		font-size: 15px;
		text-transform: uppercase;
		font-family: 'SharpGroteskLight25', sans-serif;
		transition: all .3s ease;
		outline: none;

		svg {
			position: absolute;
			width: 15px;
			height: 18px;
			left: 20px;
			fill: #d1ff7a;
			transition: fill .3s ease;
		}

		&:hover {
			cursor: pointer;
			background-color: $green;
			color: $gray;

			svg {
				fill: $gray;
			}
		}
	}

	&__arrow-down {
		cursor: pointer;
		width: 18px;
		height: 40px;
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		padding: 10px;
		transform: translateY(-50%);
		margin: auto;
		box-sizing: content-box;

		svg {
			width: 100%;
			height: 100%;
		}
	}
}

.intercom-launcher-frame {
	transition: all .3s ease;
}

.inversion {
	.header:not(.is-open) {
		.header__logo {
			.icon {
				fill: $gray;
			}
		}

		.header__navigation {
			li {
				a {
					color: $gray;
	
					&:hover {
						color: $green;
						background-color: $gray;
					}
				}
	
				&.active {
					a {
						background-color: $green;
					}
				}
			}
		}
	}

	.footer {
		&__button {
			color: $gray;
			border-color: $gray;

			svg {
				fill: $gray;
			}

			&:hover {
				background-color: $gray;
				color: $green;

				svg {
					fill: $green;
				}
			}
		}
	}

	.intercom-launcher-frame {
		position: relative;
		background: $gray-light !important;
	}
}

.container {
	height: 100%;
	width: 100%;
	padding: 0 5%;
	margin: auto;

	&--text-center {
		display: flex;
		align-items: center;
	}
}

.section {
	position: relative;

	&--first {
		.container {
			background: url('~assets/images/remove/header-background.png');
			background-size: cover;
		}
	}

	&--green {
		.container {
			background-color: $green;
		}
	}

	&--purple {
		.container {
			background-color: $purple;
		}
	}

	&--what-is-it {
		.section {
			&__image {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				flex: 1;
			}
		}

		.sunglass-flashing {
			width: 570px;
  			height: 300px;
		}
	}
}

.fp-scroller {
	min-height: 100%;
}

.section-title {
	display: block;
	margin: auto;
	font-size: 66px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;

	&__animation-container {
		position: relative;
		display: inline-flex;
		justify-content: center;
		
		.line {
			position: absolute;
			top: 0;
			margin: auto;
			height: 2px;
			width: 0;
			background-color: $gray;
			opacity: 0;
		}
	}

	&--small {
		text-align: left;
		text-transform: initial;
		font-size: 36px;
		font-weight: 600;
	}

	&--first {
		color: $green;

		span {
			color: $gray;
		}
	}

	&--second {
		width: 50%;
		color: $gray;
		margin: 0;
		display: flex;
		justify-content: flex-end;

		span {
			display: block;
			color: $purple;

			div {
				display: inline;
			}
		}

		.text {
			width: 720px;
			max-width: 100%;
			// margin: auto;
		}
	}

	&--right {
		width: 50%;
		color: $gray;
		margin: 0 0 0 auto;
	}

	&--left {
		width: 50%;
		color: $gray;
		margin: 0;
	}

	&--gray {
		color: $gray;
		font-size: 104px;

		span {
			opacity: 0;
		}
	}
}

.intercom-launcher,
.intercom-lightweight-app {
	z-index: $intercomeIndex !important;
}

.intercom-launcher {
	transition: all .3s ease;
	background-color: $gray-light !important;

	.intercom-lightweight-app-launcher-icon-open {
		svg path {
			transition: all .3s ease;
			fill: white;
		}
	}

	
	&.green {
		background-color: $green-light !important;

		.intercom-lightweight-app-launcher-icon-open {
			svg path {
				fill: rgba(0, 0, 0, 0.5);
			}
		}
	}
}

.modal {
	position: fixed;
	z-index: $modalIndex;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
	padding: 50px;

	&__body {
		position: relative;
		width: 100%;
		height: 100%;

		iframe {
			position: relative;
    		z-index: -1;
			width: 100%;
			height: 100%;
		}
	}

	&__close {
		cursor: pointer;
		position: absolute;
		top: -34px;
		right: -34px;
		
		img {
			display: block;
			width: 33px;
			height: 33px;
			padding: 8px;
		}
	}
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .3s;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}

// Extra large devices (large desktops, 1200px and down)
@media screen and (max-width: 1200px) {
	.section-title {
		font-size: 46px;

		&--small {
			font-size: 26px;
		}
	}

	.section {
		&--what-is-it {
			.sunglass-flashing {
				width: 400px;
				height: 200px;
			}
		}
	}
}

// Large devices (desktops, 992px and down)
@media screen and (max-width: 992px) {
	.header {	
		padding: 15px;

		&__navigation {
			display: none;
			justify-content: center;
			align-items: center;
			position: fixed;
			z-index: $navigationMobIndex;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			ul {
				width: 100%;
				display: block;
				padding: 0 15px;
				position: relative;
				z-index: $menuMobIndex;
			}

			li {
				a {
					display: block;
					text-align: center;
					font-size: 31px;
				}
			}
		}

		&__menu {
			display: block;
			position: relative;
			z-index: $menuMobIndex;

			&-button {
				svg {
					position: absolute;
					z-index: $mobileMenuCloseIndex;
				}
			}
		}
	}

	.footer {
		padding: 15px;

		&__arrow-down {
			display: none;
		}
	}
	
	.section-title {
		font-size: 31px;

		&--small {
			font-size: 18px;
		}
	}

	.section {
		&--what-is-it {
			.sunglass-flashing {
				width: 300px;
				height: 150px;
			}
		}
	}
}

// Medium devices (tablets, 768px and down)
@media screen and (max-width: 768px) {
	.section {
		&--second {
			width: 100%;
			justify-content: center;
		}

		&--what-is-it {
			.container {
				flex-direction: column-reverse;
				justify-content: center;
			}

			.section-title {
				&--second {
					width: 550px;
					max-width: 100%;
					text-align: center;
					font-size: 30px;
				}
			}

			.typed-element {
				justify-content: center;
			}

			.section {
				&__image {
					flex: inherit;
					margin-bottom: 40px;
				}
			}
		}
	}

	.modal {
		padding: 10px;

		&__close {
			top: 15px;
    		right: 15px;
		}
	}
}

// Small devices (landscape phones, 576px and down)
@media screen and (max-width: 576px) {
	.header {
		&__navigation {
			&-button {
				width: 100%;
			}
		}
	}

	.footer {
		&__button {
			padding: 16px 55px;
		}
	}

	.intercom-lightweight-app-launcher,
	.intercom-launcher-frame {
		transform: scale(0.9);
		bottom: 15px !important;
		right: 15px !important;
	}
}