@import './partials/_variables';

@font-face {
    font-family: 'SharpGroteskLight25';
    src: url('~assets/fonts/SharpGroteskLight25.eot');
    src: url('~assets/fonts/SharpGroteskLight25.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/SharpGroteskLight25.woff2') format('woff2'),
        url('~assets/fonts/SharpGroteskLight25.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SharpGroteskLight25';
    src: url('~assets/fonts/SharpGroteskSmBold25.eot');
    src: url('~assets/fonts/SharpGroteskSmBold25.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/SharpGroteskSmBold25.woff2') format('woff2'),
        url('~assets/fonts/SharpGroteskSmBold25.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
	box-sizing: border-box;
}

body {
	font-family: 'SharpGroteskLight25', sans-serif;
	background-color: black;

	a {
		text-decoration: none;
	}
}


.header {
	position: fixed;
	z-index: $headerIndex;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 20px;

	&__logo {
		flex-grow: 1;

		svg {
			width: 205px;
			height: 49px;
		}
	}

	&__navigation {
		position: relative;

		&-circle {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 0;
			height: 0;
			background-color: $gray;
			border-radius: 50%;
		}

		&-logo {
			opacity: 0;
			position: absolute;
			left: 15px;
			top: 15px;
	
			svg {
				width: 205px;
				height: 49px;
			}
		}

		&-close {
			width: 0;
			height: 0;
			position: absolute;
			top: 0;
			right: 0;
			opacity: 0;

			svg {
				width: 27px;
				height: 27px;
			}
		}

		&-button {
			display: none;
			opacity: 0;
			width: 300px;
			max-width: 100%;
			position: absolute;
			bottom: 50px;
			left: 0;
			right: 0;
			margin: auto;
			background-color: transparent;
			border: 1px $green solid;
			padding: 16px 55px;
			color: $green;
			font-weight: 600;
			font-size: 15px;
			text-transform: uppercase;
			text-align: center;
			font-family: 'SharpGroteskLight25', sans-serif;
			transition: all .3s ease;
			outline: none;
	
			svg {
				position: absolute;
				width: 15px;
				height: 18px;
				left: 20px;
				transition: fill .3s ease;
			}
	
			&:hover {
				cursor: pointer;
			}
		}

		ul {
			display: flex;
			align-items: center;
		}

		li {
			a {
				color: $green;
				font-size: 15px;
				font-weight: 600;
				text-transform: uppercase;
				background-color: transparent;
				padding: 4px 10px;
				transition: all .3s ease;

				&.active,
				&:hover {
					color: $gray;
					background-color: $green;
				}
			}

			// &.active {
			// 	a {
			// 		background-color: $gray;
			// 	}
			// }
		}
	}

	&__menu {
		display: none;
		position: relative;
		width: 35px;
		height: 35px;

		&-button {
			height: 100%;
			cursor: pointer;
			padding: 5px;
			box-sizing: content-box;

			svg {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;

				&.close {
					display: none;
					opacity: 0;
				}
			}
		}
	}
}

.footer {
	position: fixed;
	z-index: $footerIndex;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 20px 35px 35px;

	&__button {
		position: relative;
		background-color: transparent;
		border: 1px $green solid;
		padding: 20px 60px;
		color: $green;
		font-weight: 600;
		font-size: 15px;
		text-transform: uppercase;
		font-family: 'SharpGroteskLight25', sans-serif;
		transition: all .3s ease;
		outline: none;

		svg {
			position: absolute;
			width: 15px;
			height: 18px;
			left: 20px;
			fill: #d1ff7a;
			transition: fill .3s ease;
		}

		&:hover {
			cursor: pointer;
			background-color: $green;
			color: $gray;

			svg {
				fill: $gray;
			}
		}
	}

	&__arrow-down {
		cursor: pointer;
		width: 18px;
		height: 40px;
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		padding: 10px;
		transform: translateY(-50%);
		margin: auto;
		box-sizing: content-box;

		svg {
			width: 100%;
			height: 100%;
		}
	}
}

.intercom-launcher-frame {
	transition: all .3s ease;
}

.inversion {
	.header:not(.is-open) {
		.header__logo {
			.icon {
				fill: $gray;
			}
		}

		.header__navigation {
			li {
				a {
					color: $gray;
	
					&.active,
					&:hover {
						color: $green;
						background-color: $gray;
					}
				}
			}
		}
	}

	.footer {
		&__button {
			color: $gray;
			border-color: $gray;

			svg {
				fill: $gray;
			}

			&:hover {
				background-color: $gray;
				color: $green;

				svg {
					fill: $green;
				}
			}
		}
	}

	.intercom-launcher-frame {
		position: relative;
		background: $gray-light !important;
	}
}

.container {
	height: 100%;
	width: 100%;
	padding: 0 5%;
	margin: auto;
	display: flex;
    align-items: center;
}

.section {
	position: relative;

	&__background {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		background: url('~assets/images/remove/header-background.png');
		background-size: cover;
		opacity: 0;
		transition: all 0.5s ease;
	}

	&--first {
		.section-title {
			position: relative;
			z-index: 5;
		}

		&.active {
			.section {
				&__background {
					opacity: 1;
				}
			}
		}
	}

	.container {
		position: relative;
		z-index: 20;
	}

	&--green {
		.container {
			background-color: $green;
		}
	}

	&--purple {
		.container {
			background-color: $purple;
		}
	}

	&--gray {
		.container {
			background-color: $gray;
		}
	}

	&--gray-light {
		.container {
			background-color: $gray-light;
		}
	}

	&--it-works {
		.container {
			position: relative;
	  
			.section-block {
				display: flex;
				align-items: center;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: 0 5%;
			}
		}
	}

	&--what-is-it {
		.section {
			&__image {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				flex: 1;
			}
		}

		.sunglass-flashing {
			width: 570px;
  			height: 300px;
		}
	}

	&--feature-gray {
		.container {
			background-color: $silver-light;
		}
	}
}

.section-block {
	&--one {
		.section {
			&__image {
				padding-left: 7%;

				svg {
					opacity: 0;
					width: 525px;
					height: 525px;
				}
			}
		}
	}

	&--two {
		.section {
			&__image {
				display: inline-flex;
				flex-grow: 3;
				justify-content: center;
			}

			&-title {
				flex-grow: 1;

				.text {
					width: 810px;
					max-width: 100%;
					margin-left: auto;
				}
			}
		}
	}

	&--three {
		.section {
			&__image {
				padding-left: 7%;
			}
		}
	}


	&--four {
		.section {
			&__image {
				display: inline-flex;
				flex-grow: 3;
				justify-content: center;
			}

			&-title {
				flex-grow: 1;

				.text {
					width: 810px;
					max-width: 100%;
					margin-left: auto;
				}
			}
		}
	}

	&--text-center {
		display: flex;
		align-items: center;

		.section-title {
			&--scalable-logo {
				width: 775px;
				margin: 0 auto;
			}
		}
	}
}

.section-title {
	display: block;
	margin: auto;
	font-size: 55px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;

	&__green {
		color: $green;
	}

	&--small {
		text-align: left;
		text-transform: initial;
		font-size: 44px;
		font-weight: 600;
	}

	&--first {
		color: $green;

		span {
			color: $gray;
		}
	}

	&--second {
		width: 50%;
		color: $gray;
		margin: 0;
		display: flex;
		justify-content: flex-end;

		span {
			display: block;
			color: $purple;

			div {
				display: inline;
			}
		}

		.text {
			width: 720px;
			max-width: 100%;
			// margin: auto;
		}
	}

	&--right {
		width: 50%;
		color: $gray;
		margin: 0 0 0 auto;
	}

	&--left {
		width: 50%;
		color: $gray;
		margin: 0;
	}

	&--gray {
		color: $gray;
		font-size: 104px;

		span {
			opacity: 0;
		}
	}
}

.section-text {
	display: flex;
	width: 1440px;
	max-width: 100%;
	font-size: 44px;
	color: $silver;
	font-weight: 600;
	margin: 0 auto;

	&__left,
	&__right {
		flex-basis: 50%;
	}

	&__left {
		.green {
			color: $green-light;
		}
	}

	&__quote {
		width: 1070px;
		max-width: 100%;
		margin: 0 auto;

		&-text {
			color: $gray;
			font-size: 44px;
			font-weight: 600;
			text-align: center;
			margin-bottom: 65px;
		}

		&-author {
			color: $gray;
			font-size: 20px;
			font-weight: 600;
			text-align: center;
		}
	}
}

.sunglasses-container {
	width: 100%;

	&__title {
		color: $gray;
		font-size: 44px;
		font-weight: 600;
		text-align: center;
		margin-bottom: 100px;
	}

	&__slider {
		width: 100%;
		position: relative;
		height: calc(40vw / 2);
		margin-bottom: 100px;

		.flickity-viewport {
			height: 100% !important;
			width: 100vw;
			margin-left: calc((100vw - 100%) / -2);
		}
	}

	&__item {
		width: 33.33vw;
		transform: translate3d(0, 0, 0);

		.sunglass-flashing {
			width: 35vw;
			height: calc(35vw / 2);
		}
	}

	&__button {
		display: block;
		position: relative;
		background-color: $gray;
		padding: 20px 60px;
		margin: 0 auto;
		color: $green;
		font-weight: 600;
		font-size: 15px;
		text-transform: uppercase;
		font-family: 'SharpGroteskLight25', sans-serif;
		border: none;
		transform: scale(1);
		transition: transform .3s ease;
		outline: none;

		svg {
			position: absolute;
			width: 15px;
			height: 18px;
			left: 20px;
		}

		&:hover {
			cursor: pointer;
			transform: scale(1.1);
		}
	}
}

.intercom-launcher,
.intercom-lightweight-app {
	z-index: $intercomeIndex !important;
}

.intercom-launcher {
	transition: all .3s ease;
	background-color: $gray-light !important;

	.intercom-lightweight-app-launcher-icon-open {
		svg path {
			transition: all .3s ease;
			fill: white;
		}
	}

	
	&.green {
		background-color: $green-light !important;

		.intercom-lightweight-app-launcher-icon-open {
			svg path {
				fill: rgba(0, 0, 0, 0.5);
			}
		}
	}
}

.modal {
	position: fixed;
	z-index: $modalIndex;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
	padding: 50px;

	&__body {
		position: relative;
		width: 100%;
		height: 100%;

		iframe {
			position: relative;
			z-index: 1;
			width: 100%;
			height: 100%;
		}
	}

	&__close {
		cursor: pointer;
		position: absolute;
		z-index: 2;
		top: -34px;
		right: -34px;
		
		img {
			display: block;
			width: 33px;
			height: 33px;
			padding: 8px;
		}
	}
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .3s;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}

.fade-slow-enter-active, .fade-slow-leave-active {
	transition: opacity 1s;
}

.fade-slow-enter, .fade-slow-leave-to {
	opacity: 0;
}

@media screen and (max-width: 1440px) {
	.section-block {
		&--one {
			.section {
				&__image {
					svg {
						width: 350px;
						height: 350px;
					}
				}
			}
		}
	}

	.sunglasses-container {
		&__title {
			margin-bottom: 60px;
		}

		&__slider {
			margin-bottom: 60px;
		}
	}
}

// Extra large devices (large desktops, 1200px and down)
@media screen and (max-width: 1200px) {
	.section-title {
		font-size: 46px;

		&--small {
			font-size: 26px;
		}
	}

	.section {
		&--what-is-it {
			.sunglass-flashing {
				width: 400px;
				height: 200px;
			}
		}
	}

	.section-text {
		font-size: 31px;

		&__quote {	
			&-text {
				font-size: 36px;
			}
		}

		&--full-width {
			width: 100% !important;
		}
	}
}

// Large devices (desktops, 992px and down)
@media screen and (max-width: 992px) {
	.header {	
		padding: 15px;

		&__navigation {
			display: none;
			justify-content: center;
			align-items: center;
			position: fixed;
			z-index: $navigationMobIndex;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			ul {
				width: 100%;
				display: block;
				padding: 0 15px;
				position: relative;
				z-index: $menuMobIndex;
			}

			li {
				a {
					display: block;
					text-align: center;
					font-size: 31px;
				}
			}
		}

		&__menu {
			display: block;
			position: relative;
			z-index: $menuMobIndex;

			&-button {
				svg {
					position: absolute;
					z-index: $mobileMenuCloseIndex;
				}
			}
		}
	}

	.footer {
		padding: 15px;

		&__button {
			display: none;
		}

		&__arrow-down {
			top: -30%;
			margin-left: 0;
			padding: 20px;
		}
	}
	
	.section-title {
		font-size: 31px;

		&--small {
			font-size: 31px;
		}
	}

	.container {
		.scalable-logo {
			width: 360px;
			max-width: 95%;
		}
	}

	.section {
		&--second {
			width: 100%;
			justify-content: center;
		}

		&--it-works {

		}

		&--what-is-it {
			.sunglass-flashing {
				width: 300px;
				height: 150px;
			}

			.container {
				flex-direction: column-reverse;
				justify-content: center;
			}

			.section-title {
				&--second {
					width: 550px;
					max-width: 100%;
					text-align: center;
					font-size: 29px;
				}
			}

			.typed-element {
				justify-content: center;
			}

			.section {
				&__image {
					flex: inherit;
					margin-bottom: 40px;
				}
			}
		}
	}

	.section-block {
		&--one {
			flex-direction: column-reverse;
			justify-content: center;

			.section {
				&__image {
					padding: 0;
				}
			}

			.section-title {
				width: 550px;
				max-width: 100%;
				text-align: center;
				margin: 0 auto 40px;
			}
		}

		&--two,
		&--four {
			flex-direction: column;
			justify-content: center;

			.section {
				&__image {
					flex-grow: inherit;
				}
			}

			.section-title {
				width: 550px;
				max-width: 100%;
				text-align: center;
				margin: 0 auto 50px;
				flex-grow: inherit;
			}
		}

		&--three {
			flex-direction: column-reverse;
			justify-content: center;

			.section {
				&__image {
					padding-left: 0;
				}
			}

			.section-title {
				width: 550px;
				max-width: 100%;
				text-align: center;
				margin: 0 auto 50px;
			}
		}
	}

	.section-text {
		width: 550px;
		max-width: 100%;
		flex-direction: column;
		text-align: center;

		&__left {
			margin-bottom: 40px;
		}

		&__left,
		&__right {
			> div {
				text-align: center !important;
			}
		}
	}

	.sunglasses-container {
		&__title {
			font-size: 31px;
		}

		&__slider {
			height: calc(50vw / 2);
		}

		&__item {
			width: 50vw;

			.sunglass-flashing {
				width: 50vw;
				height: calc(50vw / 2);
			}
		}
	}
}

// Medium devices (tablets, 768px and down)
@media screen and (max-width: 768px) {
	.modal {
		padding: 10px;

		&__close {
			top: 15px;
    		right: 15px;
		}
	}

	.section-title {
		font-size: 23px;
	}

	.section-text {
		font-size: 26px;

		&__left {
			margin-bottom: 30px;
		}
	}

	.section-block {
		&--one {
			.section {
				&__image {
					svg {
						width: 240px;
    					height: 240px;
					}
				}
			}
		}

		&--two,
		&--three,
		&--four {
			.section-title {
				margin-bottom: 30px;
			}
		}
	}

	.section {
		&--what-is-it {
			.section-title {
				&--second {
					font-size: 23px;
				}
			}
		}
	}

	.section-text {
		&__quote {	
			&-text {
				font-size: 31px;
				margin-bottom: 40px;
			}

			&-author {
				font-size: 15px;
			}
		}
	}

	.sunglasses-container {
		&__title {
			font-size: 31px;
		}

		&__slider {
			height: calc(100vw / 2);

			.flickity-viewport {
				margin: 0;
			}
		}

		&__item {
			width: 100vw;

			.sunglass-flashing {
				width: 100vw;
				height: calc(100vw / 2);
			}
		}
	}
}

// Small devices (landscape phones, 576px and down)
@media screen and (max-width: 576px) {

	.sunglasses-container {
		&__title {
			font-size: 23px;
			margin-bottom: 30px;
		}

		&__slider {
			margin-bottom: 40px;
		}
	}

	.footer {
		&__button {
			padding: 16px 55px;
		}
	}

	.intercom-lightweight-app-launcher,
	.intercom-launcher-frame {
		transform: scale(0.9);
		bottom: 15px !important;
		right: 15px !important;
	}
}